@import url("https://fonts.googleapis.com/css2?family=Poppins:wgh");

:root{
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body input button{
    font-family: "Poppins", sans-serif;
}